<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base45" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base46" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.ExcelChartToImageConverter.WPF46" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.ExcelToPdfConverter.Base45" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.ExcelToPdfConverter.Base46" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.Pdf.Base45" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.Pdf.Base46" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.SfChart.WPF46" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.XlsIO.Base45" version="15.4.0.20" targetFramework="net46" />
  <package id="Syncfusion.XlsIO.Base46" version="15.4.0.20" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.109.1" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net46" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net46" />
</packages>